:root {
  --global-theme-primary-color: #b509ac;
  --global-theme-secondary-color: #09b5b5;
  --global-theme-font-color: #000;
  --global-theme-secondary-font-color: #aaaaaa;

  --global-border-color: #dadada;
}