@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 300;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicDemi.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 800;
  src: local('Futura PT'), url('../assets/font/FuturaCyrillicExtraBold.ttf') format('truetype');
}

* {
  font-family: 'Futura PT', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

hr {
  width: 88%;
  border: none;
  border-top: 1px solid var(--global-border-color);
  margin: 1rem auto;
}
