.navbar {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
  }

  .nav-item {
    a {
      font-weight: 400;
      color: var(--global-theme-font-color);
      text-decoration: none;

      &.active {
        color: var(--global-theme-primary-color);
      }

      &:hover {
        color: var(--global-theme-primary-color);
        cursor: pointer;
      }
    }
  }
}
